@page "/today"
@using MacroTracker.Models
@using MacroTracker.Services
@attribute [StreamRendering]
@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore
@inject ILogger<Today> Logger
@inject IDbContextFactory<MacroTrackingDbContext> MacroTrackingDbContextFactory
@inherits PageBase;

<LocalTimeZoneDetector />

<PageTitle>Macro Tracker</PageTitle>

<h1>Macro Tracker!</h1>

@if (Loading)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
    <thead>
        <tr>
            @* <th>Date</th> *@
            <th>Time</th>
            <th>Protein</th>
            <th>Carbs</th>
            <th>Fiber</th>
            <th>Fat</th>
            <th>Calories</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var entry in Entries)
            {
                <tr>
                    @* <td>@entry.DateTime.ToShortDateString()</td>
                    <td>@entry.DateTime.ToShortTimeString()</td> *@
                    @* <td>
                        <LocalDateTime FormatString="yyyy/MM/dd" DateTime="entry.DateTime" />
                    </td> *@
                    <td>
                        <LocalDateTime FormatString="hh:mm tt" DateTime="entry.DateTime" />
                    </td>
                    <td>@entry.ProteinGrams</td>
                    <td>@entry.CarbsGrams</td>
                    <td>@entry.FiberGrams</td>
                    <td>@entry.FatGrams</td>
                    <td>@entry.Calories</td>
                    <td><button class="btn btn-secondary" @onclick="async () => await RemoveEntryAsync(entry.Id)">X</button>
                    </td>
                </tr>
            }
            <tr>
                <td>Totals</td>
                <td></td>
                <td>@TotalProtein</td>
                <td>@TotalCarbs</td>
                <td>@TotalFiber</td>
                <td>@TotalFat</td>
                <td>@TotalCalories</td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <div class="m-3">
    <h3>Quick Add</h3>

    @if (Favorites.Any())
        {
            <div class="input-group" style="max-width: fit-content;">
                <span class="input-group-btn">
                    <button class="btn btn-primary" @onclick="async () => await AddFromFavoriteAsync(SelectedFavoriteId)">Add</button>
                </span>

                <InputSelect id="Favorite" Actions @bind-Value="SelectedFavoriteId" autocomplete="off" class="form-select">
                    <option value="@Guid.Empty" selected disabled>Select a Favorite</option>
                    @foreach (var favorite in Favorites)
                    {
                        <option value="@favorite.Id">@favorite.Name</option>
                    }
                </InputSelect>
            </div>
        }
        else
        {
            <div>First Save An Entry as a Favorite</div>
        }
    </div>

    <div class="m-3">
        <h3>Add New Entry</h3>
        <div style="display: flex; flex-flow: row wrap; gap: 5px; align-items: center;">
            <Tracker Name="Protein" @ref="proteinTracker" />
            <Tracker Name="Carbs" @ref="carbTracker" />
            <Tracker Name="Fiber" @ref="fiberTracker" />
            <Tracker Name="Fat" @ref="fatTracker" />
            <div>
                <button class="btn btn-warning" @onclick="ResetAll">Reset All</button>
            </div>
        </div>

        <div>
            <label>
                Favorite Name:
                <InputText @bind-Value="favoriteName" placeholder="Optional Name"></InputText>
            </label>
            <button class="btn btn-primary" @onclick="SaveEntryAsync">Save Entry</button>
        </div>
    </div>


}

@code {
    bool Loading;
    List<MacroEntryModel> Entries = new();
    List<MacroEntryFavorite> Favorites = new();
    Guid SelectedFavoriteId = Guid.Empty;
    MacroTrackingDbContext Context = default!;
    Tracker proteinTracker = default!;
    Tracker carbTracker = default!;
    Tracker fiberTracker = default!;
    Tracker fatTracker = default!;
    string favoriteName = string.Empty;
    double TotalProtein => Entries.Select(entry => entry.ProteinGrams).Sum();
    double TotalCarbs => Entries.Select(entry => entry.CarbsGrams).Sum();
    double TotalFiber => Entries.Select(entry => entry.FiberGrams).Sum();
    double TotalFat => Entries.Select(entry => entry.FatGrams).Sum();
    double TotalCalories => Entries.Select(entry => entry.Calories).Sum();
    protected override async Task OnInitializedAsync()
    {
        Loading = true;


        // Take the Current time in UTC, convert to the users local time. Drop the time part. Convert back to UTC to get the
        var utcNow = DateTime.UtcNow;
        var localNow = UsersTimeFromUTC(utcNow);
        var localToday = localNow.Date;
        var startOfLocalDayInUTC = UsersTimeToUTC(localToday);

        try
        {
            Context = await MacroTrackingDbContextFactory.CreateDbContextAsync();

            if (Context is not null && Context.Entries is not null)
            {
                var usersEntries = Context.Entries.Where(entry => entry.OwnerId == UserId);
                Logger.LogDebug("UsersEntries Count {Count}", usersEntries.Count());

                var todayEntries = usersEntries.Where(entry => entry.DateTime >= startOfLocalDayInUTC);
                Logger.LogDebug("todayEntries Count {Count}", todayEntries.Count());

                Entries = await todayEntries.OrderBy(entry => entry.DateTime).ToListAsync();
                Favorites = await Context.Favorites.Where(e => e.OwnerId == UserId).ToListAsync();
            }
        }
        finally
        {
            Loading = false;
        }

        Logger.LogDebug("User Id {UserId}", UserId);
    }

    async Task RemoveEntryAsync(Guid id)
    {
        var dbEntry = await Context.Entries.FindAsync(id);
        if (dbEntry is not null)
        {
            Context.Entries.Remove(dbEntry);
            await Context.SaveChangesAsync();
        }

        var localEntry = Entries.SingleOrDefault(e => e.Id == id);
        if (localEntry is not null)
        {
            Entries.Remove(localEntry);
        }
    }

    async Task SaveEntryAsync()
    {
        if (UserId == "unknown")
        {
            Logger.LogError("UserId is unknown, unable to add entry");
            return;
        }

        var entry = new MacroEntryModel
            {
                ProteinGrams = proteinTracker.Count,
                CarbsGrams = carbTracker.Count,
                FiberGrams = fiberTracker.Count,
                FatGrams = fatTracker.Count,
                OwnerId = UserId
            };

        Logger.LogDebug("Entering AddNewEntry. Entry {Entry}", entry);

        Logger.LogDebug("Adding Entry to context");
        await Context.AddAsync(entry);

        Logger.LogDebug("Adding entry to page list");
        Entries.Add(entry);

        if (!string.IsNullOrWhiteSpace(favoriteName))
        {
            Logger.LogDebug("Saving entry as Favorite {Name}", favoriteName);

            var favorite = new MacroEntryFavorite
                {
                    Name = favoriteName,
                    ProteinGrams = proteinTracker.Count,
                    CarbsGrams = carbTracker.Count,
                    FiberGrams = fiberTracker.Count,
                    FatGrams = fatTracker.Count,
                    OwnerId = UserId
                };

            Logger.LogDebug("Adding Favorite to context and page model");
            await Context.AddAsync(favorite);
            Favorites.Add(favorite);
        }

        Logger.LogDebug("Saving Database Changes");
        await Context.SaveChangesAsync();

        ResetAll();
    }

    void ResetAll()
    {

        Logger.LogDebug("Resetting Trackers");
        proteinTracker.Reset();
        carbTracker.Reset();
        fatTracker.Reset();
        fiberTracker.Reset();
    }

    async Task AddFromFavoriteAsync(Guid favoriteId)
    {
        if (UserId == "unknown")
        {
            Logger.LogError("UserId is unknown. Unable to add from favorite");
            return;
        }

        Logger.LogDebug("Entering AddFromFavorite. favoriteId {Id}", favoriteId);
        if (favoriteId == Guid.Empty)
        {
            Logger.LogWarning("Invalid Favorite Id provided");
            return;
        }

        MacroEntryModel? entryModel = null;
        var favorite = Favorites.Where(f => f.Id == favoriteId);
        if (favorite.Any())
        {
            Logger.LogDebug("Favorite found in page model");
            entryModel = new MacroEntryModel(favorite.First());
        }
        else
        {
            var x = Context.Favorites.Find(favoriteId);
            if (x != null)
            {
                Logger.LogDebug("Favorite found in Database");
                entryModel = new MacroEntryModel(x);
            }
        }

        if (entryModel != null)
        {
            Logger.LogDebug("Generated Entry {Entry}", entryModel);
            Logger.LogDebug("Adding to Context");
            await Context.AddAsync(entryModel);
            Logger.LogDebug("Saving changes");
            await Context.SaveChangesAsync();
            Logger.LogDebug("Adding to page model");
            Entries.Add(entryModel);
        }
        else
        {
            Logger.LogWarning("Favorite Id {Id} not found", favoriteId);
        }
    }
}
